  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">Collaborations</h2>
              <hr class="light">
              <p>Boston: Spaulding Rehabilitation Hospital Boston</p>
              <p>Toronto: University of Toronto's Pardee Lab, Hatchery, and DCSIL</p>
              <p>Shanghai: Shanghai Jiao Tong University AI Institute</p>
              <p>Guangzhou: Guangzhou Institute of Respiratory Health</p>
          </div>
      </div>
  </aside>
