<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">NAHT Invest is a forward-thinking venture capital firm dedicated to identifying and nurturing the next wave of technological and healthcare innovations. Based in Vancouver, Canada, with a global presence, we focus on breakthrough technologies set to shape the next two decades. Our mission is to fuel the companies leading the charge toward a smarter, healthier future.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
