<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio Highlights</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Innovative Diagnostics Company (San Diego)</h3>
                    <p class="text-muted">Specializes in advanced colloidal gold technology for various diagnostic applications, significantly contributing to COVID-19 testing efforts in the USA.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Pioneering Biotechnology Firm (Guangzhou)</h3>
                    <p class="text-muted">A leader in personalized medicine, offering target assay solutions and genetic testing services.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Biohop Technologies (Guangzhou)</h3>
                    <p class="text-muted">Revolutionizing the biotech industry with a focus on sustainable and scalable solutions for global health challenges.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Ammolite (Guangzhou)</h3>
                    <p class="text-muted">Developing groundbreaking materials and technologies for a range of high-impact applications.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Innoisle (Vancouver)</h3>
                    <p class="text-muted">A creative community offering innovative products and concepts, including Openpilot products and accessories, modular handheld devices, and vanlife accessories.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>MJJkTech (Xiamen)</h3>
                    <p class="text-muted">Utilizing digital intelligence to improve chronic disease management and patient outcomes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
