<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio Highlights</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>Innovative Diagnostics Company (San Diego)</h3>
                    <p class="text-muted">Specializes in advanced colloidal gold technology for various diagnostic applications, significantly contributing to COVID-19 testing efforts in the USA.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>Pioneering Biotechnology Firm (Guangzhou)</h3>
                    <p class="text-muted"> Leading provider of IgG testing services and shockwave devices, focused on addressing chronic pain management through innovative healthcare solutions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>Biohop Technologies (Guangzhou)</h3>
                    <p class="text-muted">A leader in personalized medicine, offering target assay solutions and genetic testing services. This investment has successfully exited.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>Ammolite (Guangzhou)</h3>
                    <p class="text-muted">Specializes in antigen extraction and is committed to producing IgG and IgE testing protein chip membranes and reagents for precise diagnostics.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>Innoisle (Vancouver)</h3>
                    <p class="text-muted">A creative community that offers unique solutions, including autonomous driving products and accessories, modular handheld devices, and accessories for the vanlife community.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <h3>MJJkTech (Xiamen)</h3>
                    <p class="text-muted">Utilizes IoT, AI, and big data to process healthcare data, focusing on chronic disease and chronic pain management for improved patient outcomes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
